<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please flights criteria</h2>
    <div class="row">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{he.format}}" ng-model="he.dt" is-open="he.popup1.opened" datepicker-options="he.dateOptions" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="he.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>

</div>
<section class="hero">
  <h1>RyanAir test app</h1>
  <h3>You can find me inside {{ $ctrl.name }}.html</h3>
</section>
