<div class="container">

  <form name="search">
    <h2 class="form-signin-heading">Please flights criteria</h2>
    <div class="row">
      <input date-input name="from" type="text" ng-model="he.date"/>
      <span class="input-group-addon" ng-click="he.flag=!he.flag"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
    <div uib-datepicker-popup is-open="he.flag" ng-model="he.date" datepicker-options="he.options"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>

</div>
<section class="hero">
  <h1>RyanAir test app</h1>
  <h3>You can find me inside {{ $ctrl.name }}.html</h3>
</section>
