<form novalidate ng-submit="$ctrl.submit()" name="$ctrl.form" autocomplete="off">
  <div class="row flex-items-xs-middle hero">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <input class="form-control"
        placeholder="Choose a departure airport"
        type="text"
        name="source"
        ng-model="$ctrl.source"
        uib-typeahead="item.value as item.name for item in $ctrl.getSources($viewValue)"
        typeahead-loading="$ctrl.loading"
        typeahead-editable="false"
        typeahead-min-length="1"
        typeahead-editable="false"
        typeahead-no-results="noSourceResults"
        typeahead-input-formatter="$ctrl.formatLabel($model, 'source')"
        required
      />
      <div ng-show="!$ctrl.source && $ctrl.form.$submitted">
        <p class="bg-danger text-muted">You didn't select departure airport</p>
      </div>
      <div ng-show="noSourceResults">
        <p class="bg-warning text-muted">No results found</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <input class="form-control"
        placeholder="Destination airport"
        type="text"
        name="destination"
        ng-model="$ctrl.destination"
        ng-disabled="!$ctrl.source"
        uib-typeahead="item.value as item.name for item in $ctrl.getDestinations($viewValue)"
        typeahead-editable="false"
        typeahead-no-results="noDestinationResults"
        typeahead-input-formatter="$ctrl.formatLabel($model, 'destination')"
        typeahead-min-length="0"
        required />
      <div ng-show="!$ctrl.destination && $ctrl.form.$submitted">
        <p class="bg-danger text-muted">Please select destination airport</p>
      </div>
      <div ng-show="noDestinationResults">
        <p class="bg-warning text-muted">No results found</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="input-group">
        <input class="form-control"
          placeholder="Choose flight out"
          name="startDate"
          type="text"
          ng-model="$ctrl.startDate"
          uib-datepicker-popup
          is-open="$ctrl.startDatePickerIsOpened"
          ng-model="$ctrl.startDate"
          datepicker-options="$ctrl.startDateOptions"
          ng-change="$ctrl.startDateChange()"
          required
        />
        <span class="input-group-addon" ng-click="$ctrl.startDatePickerIsOpened=!$ctrl.startDatePickerIsOpened">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
      <div ng-show="!$ctrl.startDate && $ctrl.form.$submitted">
        <p class="bg-danger text-muted">Please select start date</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="input-group">
        <input class="form-control"
          name="endDate" type="text"
          placeholder="Choose flight back"
          uib-datepicker-popup
          is-open="$ctrl.endDatePickerIsOpened"
          ng-model="$ctrl.endDate"
          ng-change="$ctrl.endDateChange()"
          datepicker-options="$ctrl.endDateOptions"
          required
        />
        <span class="input-group-addon" ng-click="$ctrl.endDatePickerIsOpened=!$ctrl.endDatePickerIsOpened">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
      <div ng-show="!$ctrl.endDate && $ctrl.form.$submitted">
        <p class="bg-danger text-muted">Please select end date</p>
      </div>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
    </div>
  </div>
</form>
